<div class="post-content">
    <div class="ui grid">
        <div class="four wide column">
        </div>

        <div class="eight wide column">
            <div class="ui segment">
                <h3><a href="/posts/<%= post._id %>">
                    <%= post.title %>
                </a></h3>
                <pre><%- post.content %></pre>
                <div>
                    <span class="tag"><%= post.created_at %></span>
                    <span class="tag right">
                        <span>浏览(<%= post.pv %>)</span>


                    </span>
                </div>
            </div>

        </div>
    </div>
</div>